<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight Details</title>
</head>

<body>
    <h1>Flight Details</h1>
    <a href="/flights/new">Add a new flight</a>
    <a href="/flights">See All Flights</a>
    <a href="/flights/<%=flight._id%>/tickets/new">Add a new Ticket to this Flight</a>
    <a href="/">Home</a>
    <hr>

    <!--         airline
        flightNo
        departs
        airport
        destinations -->

    <table>
        <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Depart Time</th>
            <th>Destination</th>
        </tr>
        <tr>
            <th><%= flight.airline %></th>
            <th><%= flight.airport %></th>
            <th><%= flight.flightNo %></th>
            <th><%= flight.departs %></th>
            
            <h5>Tickets Associated with this Flight</h5>
            <% tickets.forEach(function(t) { %>
                <p><%= t.seat %></p>
                <p>$<%= t.price %></p>
            <% }) %>

            <th>
                <% if(flight.destinations.length > 0) { %>
                <% for (var i=0; i<flight.destinations.length; i++) { %>
                <%= flight.destinations[i].airport %>
                <%= flight.destinations[i].arrival %>
                <% }} else { %>
                There are no destinations for this flight
                <%}%>
                </th>
            </tr>
        </table>



    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Add Destination:</label>
        <select name="airport">
            <option value="AUS">Austin</option>
            <option value="DAL">Dallas</option>
            <option value="LAX">Las Angelas</option>
            <option value="SEA">Seattle</option>
        </select>
        <input type="datetime-local" name="arrival">
        <input type="submit" value="Add Destination">
    </form>
</body>

</html>